h2 {
	margin-bottom: 5px;
}

h3 {
	margin-top: 0;
	color: gray;
}

form {
	display: block;
	margin-bottom: 10px;
}

.button {
	background-color: #428BCA;
	border: 1px solid #357EBD;
	border-radius: 2px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 30px;
}
.button:hover {
	background-color: #3276B1;
	border-color: #285E8E;
	cursor: pointer;
}
.button:active {
	position:relative;
	top:1px;
}

input[type="text"],
input[type="number"] {
	font-size: 15px;
	font-weight: bold;
	color: #50555B;
	width: 300px;
	height: 31px;
	position: relative;
	top: 1px;
	border: 1px solid gray;
	border-radius: 2px;
	padding: 0 6px;
}

#requests {
	width: 3em;
}

.column {
	width: 49%;
	min-width: 590px;
	float: left;
}

.build-time-bar:hover {
	cursor: pointer;
	stroke: gray;
}
